#chat-box-wrapper {
  background-color: #282c34;
  min-height: 97vh;
  width: 87%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;
  align-items: center;
  place-items: center;
  top: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

#wrapper {
  display: flex;
  justify-content: center;
}

/*  HEADER STYLES  */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-wrapper {
  background-color: darkslategrey;
  width: 80%;
}

/*  CHATROOM STYLES */

#chat-room {
  background-color: white;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 46vh;
  width: 80%;
}

.message {
  background-color: white;
  width: -webkit-fill-available;
  height: 10vh;
  display: flex;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
}

/*  TEXTBOX STYLES  */

.centered-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 100%;
}

#submit-button {
  width: 30%;
  margin-top: 0.8%;
  height: 14%;
}

textarea {
  resize: none;
}

.textarea-styles {
  width: 80%;
  height: 70%;
}

#text-input {
  width: 100%;
  height: 100%;
}

